{% extends 'pages/article_layout.html' %}
{% block article %}
<h1 class="title is-1"> About Infinity Search Solo </h1>
<hr/>

<h2> What We Do </h2>
    <a href="https://gitlab.com/infinitysearch/infinity-search-solo">Infinity Search Solo</a> is the self-hosted version of <a href="https://infinitysearch.co">Infinity Search</a> that gives users full control of their privacy and
the ability to customize their website.
<br><br>

Infinity Search is an open source metasearch engine built to connect everyone to a broader grasp of the internet. We
designed our service so that people can be more efficient and effective when they are searching online. We
do this by providing quick and relevant results while also making it easy to search for the same thing on
other internet resources if our results are not enough.

<hr/>

<h2> Why We Made Infinity Search </h2>
We made Infinity Search so that people could use the internet in a more efficient, effective, and
enjoyable way. With current search sites, if you can't find what you're searching for on the first page,
the general rule is that you may as well give up. There are, however, several other search engines and internet
resources online with their own algorithms and results that will probably have what you are searching for.
Many people are unaware of some of these sites and it would be inconvenient for them to search the same
thing on several of them. We made this service to solve this problem.
<br><br>
The second reason for making this service is so that people can have a service
that values their <a href="/privacy"> privacy</a>. People have a right to their privacy and many of the
current search engines do everything that they can to track and identify their users.

{% endblock %}
