{% extends 'pages/article_layout.html' %}
{% block article %}
<h1 class="title is-1"> Contact Us </h1>
<hr/>
<h2> Send Us A Message </h2>
You can contact us through email at <a href="mailto:infinitysearch@protonmail.com">
infinitysearch@protonmail.com </a>
<hr/>
<h2> Follow Us On Twitter </h2>
Keep up with us at <a href="https://twitter.com/InfinitySearch1"> https://twitter.com/InfinitySearch1 </a>
<hr/>
<h2> View Our Repositories On GitLab </h2>
See our open source projects and code at <a href="https://gitlab.com/infinitysearch">
https://gitlab.com/infinitysearch </a>
<hr/>
<h2> Download Our Firefox Extension </h2>
Download our extension to get a custom shortcut to our site at
<a href="https://addons.mozilla.org/en-US/firefox/addon/infinity-search">https://addons.mozilla.org/en-US/firefox/addon/infinity-search</a>
<br>
{% endblock %}
