<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infinity Search Solo - Home</title>
    <meta name="description" content="Search with privacy and efficiency.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120-precomposed.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152-precomposed.png" />
    <style>
        /*footer {*/
        /*    !*position: absolute;*!*/
        /*    bottom: 0;*/
        /*    width: 100%;*/
        /*}*/

        .Site {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        .Site-content {
            flex: 1;
        }
    </style>

</head>

<!--<body style="margin-left: 3%; margin-right: 3%; margin-top: 10%">-->
<body class="Site">
<div class="Site-content">
<div style="margin-top: 11%"></div>

<div style="text-align: center;">
    <a href="/" style="display: inline-block;">
        <img src="https://infinity-search-saved-favicons.s3.amazonaws.com/InfinitySearch/home_logo.png" height="100px" width="400px">
    </a>
    <br>
</div>

<!--<div class="content column is-three-fifths is-offset-one-fifth" style="margin-top: 30px">-->
<div class="content column is-half is-offset-one-quarter" style="margin-top: 30px">
    <div class="control has-icons-left">
        <form action="/results" method="post" id="input_form">
            <input class="input is-medium" type="search" placeholder="Search for anything on the web" name="Search">
            <span class="icon is-medium is-left" style="cursor: pointer">
                      <i class="fa fa-search"></i>
        </span>
        </form>

    </div>
</div>

<div class="column is-half is-offset-one-quarter">
    <div class="tabs is-centered">
        <ul>
            <li class="is-active search_tab" onclick="switch_tab(this, '')"><a>Web</a></li>
            <li class="search_tab" onclick="switch_tab(this, '/images')"><a>Images</a></li>
            <li class="search_tab" onclick="switch_tab(this, '/videos')"><a>Videos</a></li>
        </ul>
    </div>
</div>

<div class="column is-half is-offset-one-quarter">
    <div class="content">
        <p style="font-size: 1.2em; padding-top: 5px;">
        &nbsp; Search with privacy and efficiency. <a href="/about"> Learn more about Infinity Search </a>
        </p>
        </div>
    <br>
</div>
</div>


<footer class="footer" style="text-align: center; padding-top: 10px; padding-bottom: 10px; background-color: white">
    <div class="column is-half is-offset-one-quarter">
    <div class="columns is-vcentered">
        <a class="column is-one-third" href="/about">
            About
        </a>
        <a class="column is-one-third" href="/privacy">
            Privacy
        </a>
        <a class="column is-one-third" href="/contact">
            Contact
        </a>
    </div>
    </div>
</footer>

<script>
    function reset_selected_tab() {
        var tabs = document.getElementsByClassName("search_tab");
        var i;
        for (i = 0; i < tabs.length; i++) {
            var tab = tabs[i];
            if (tab.classList.contains('is-active')) {
                tab.classList.remove('is-active');
            }
        }
    }

    function switch_tab(list_element, value) {
        reset_selected_tab();
        document.getElementById('input_form').setAttribute('action', '/results' + value);
        list_element.classList.add('is-active');
    }
</script>

</body>
</html>
