{% extends 'pages/article_layout.html' %}
{% block article %}

<h1 class="title is-1"> Infinity Search Solo Privacy Policy </h1>
<hr/>

<h2> Information Collected </h2>
We are not storing or logging any information about who is visiting this site.
<hr/>

<h2> Information Shared </h2>
Since we are using third-party APIs to gather the search results, those services can view the
searches that we make. They cannot see, however, who made the search because it
appears to them as our service making the search.

{% endblock %}
