{% if current == 'web' %}

    {% for info in instant_extracts %}
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <div class="columns">
                            <div class="column">
                                <a href="{{info.page_url}}" class="toplink"> <span style="color: black; font-size: 20px;"> <b>{{info.title}}</b> </span> </a>
                                <br style="display: block; content: ''; margin-top: 10px;">

                                <a href="{{info.page_url}}"> <img src={{ info.thumbnail_url }}> </a>
                            </div>
                            <div class="column">
                                <div style="color: black;"> <b> {{ info.description }} </b></div>
                                <br style="display: block; content: ''; margin-top: 10px;">

                                <div style="color: black">{{ info.extract }}</div>
                                <br style="display: block; content: ''; margin-top: 10px;">

                                <a href="{{info.page_url}}"><img onerror="imgError(this)" src="https://infinity-search-saved-favicons.s3.amazonaws.com/external_link_favicons/wikipedia.ico" height="16px" width="16px" style="padding-right: 5px;">{{info.page_url}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for link in bing_results %}
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <a href="{{link.url}}" class="toplink"> <span style="color: black"> <b>{{link.title}}</b> </span> </a>
                        <br>
                        <a href="{{link.url}}">{{link.url}} </a>
                        <br>
                        {{link.content}}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endif %}
