<div class="columns is-multiline">
    {% for link in image_results %}
    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <a href="{{link.img_src}}"> <img src="{{ link.thumbnail_src }}"> </a>
                    <br>
                    <span style="font-size: 20px;">Source: <a href="{{ link.url }}"> {{ link.url }}</a> </span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
