<!DOCTYPE html>
<html lang="en">
<!--Just the header -->
{% include 'results/results_top.html' %}
<body>

<!--The input boxes  -->
{% include 'results/results_input.html' %}
<div class="tile is-ancestor is-12">
    <div class="tile is-vertical is-9">
        <div class="tile is-parent">
            <div class="tile is-child">
                <!--The integrations  -->
                {% include 'results/results_integrations.html' %}
                <!--The main results  -->
                {% include 'results/results_main.html' %}
                {% include 'results/results_images.html' %}
                {% include 'results/results_videos.html' %}
                {% include 'results/results_wiki.html' %}
                {% include 'results/results_pagination.html' %}
            </div>
        </div>
    </div>
    <div class="tile is-parent">
        <div class="tile is-child">
            <!--The sidebar external results  -->
            {% include 'results/results_external.html' %}
        </div>
    </div>
</div>
<!-- The footer and scripts  -->
{% include 'results/results_bottom.html' %}

</body>
</html>
