

<div class="footer" style="text-align: center; padding-top: 10px; padding-bottom: 10px; background-color: white">
    <div class="column is-half is-offset-one-quarter">
        <div class="columns is-vcentered">
            <a class="column is-one-third" href="/about">
                About
            </a>
            <a class="column is-one-third" href="/privacy">
                Privacy
            </a>
            <a class="column is-one-third" href="/contact">
                Contact
            </a>
        </div>
    </div>
</div>

<script>
    function imgError(image) {
    image.onerror = "";
    image.src = "https://i.postimg.cc/cHgVnXfW/blank.png";
    return true;
    }
</script>
