<head>
    <meta charset="UTF-8">
    <title>Infinity Results - {{query}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <script defer src="{{ url_for('static', filename='fa-all.js') }}"></script>
    <style>
        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        a.toplink:hover {
            text-decoration: underline;
        }

        .ia_image {
            width: 100%;
            max-width: 200px;

            height: 100%;
            max-height: 200px;
        }
        

    </style>
</head>
